{% extends '_base_.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
<h1>HomePage</h1>
    <form action="{% url 'search' %}"
          class="form-inline mt-2 mt-md-0" method="get">
        <input type="text" name="q"
               class="form-control mr-sm-2"
               placeholder="Search"
               aria-label="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p>

    {% endif %}
{% endblock content %}
