{% extends '_base_.html'%}
{% block title %} Forum {% endblock title %}
{% block content %} 
{% for game in game_list %}
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item">{{ game.name }} Gatunek: {{ game.type }}</li>
            <li class="text-secondary"><a href=""> O grze</a> {{ game.name }}</li>
            <li class="text-secondary"><a href=""> Porady</a> {{ game.name }}</li>
            <li class="text-secondary"><a href=""> Media</a> {{ game.name }}</li>


    </ul>
{% endfor %}
{% endblock content %}